*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    background-color: brown;
    text-align: center;
}

.container{
    background-color: white;
    width: 500px;
    margin-top: 20vh;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

h1{
    padding: 2rem;
    font-size: 1.2rem;
}

#feedBack{
    margin-top: 1rem;
}

.error{
    display: none;
}

.show{
    display: block;
}

#helloW{
    margin-top: 1rem;
}

h5{
    margin-top: 2rem;
    background-color: rgb(247, 151, 151);
    padding: 10px 0;
    width: 100%;
}

#text{
    width: 40%;
    border-radius: 10px;
    height: 2rem;
}

#submitBTN{
    width: 20%;
    height: 2rem;
    border-radius: 10px;
    background-size: 200%;
    background-color: white;
    margin-top: 1rem;
}